.Swatch {
  cursor: pointer;
  display: inline-block;
  height: 25%;
  margin: 0 auto -4px auto;
  position: relative;
  width: 20%;
}

.ColorShadePalette .Swatch {
  height: 50%;
}

.Swatch--content {
  bottom: 0;
  color: #000;
  font-size: 0.7rem;
  padding: 0.7rem;
  position: absolute;
  left: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Swatch--copy,
.Swatch--back {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: 30px;
  left: 50%;
  line-height: 30px;
  margin: -15px 0 0 -50px;
  outline: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
  transition: opacity 0.3s ease-in-out;
  width: 100px;
}

.Swatch--back {
  padding: 0.5rem;
}

.Swatch--copy {
  opacity: 0;
}
.Swatch:hover .Swatch--copy {
  opacity: 1;
}

.Swatch--seeMore {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  bottom: 0;
  color: white;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 60px;
}

.Swatch--overlay {
  height: 100%;
  opacity: 0;
  transform: scale(0.1);
  transition: transform 0.2s ease-in-out;
  width: 100%;
  z-index: 0;
}

.Swatch--overlay.show {
  opacity: 1;
  position: absolute;
  transform: scale(50);
  z-index: 10;
}

.overlay--message {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  height: 150px;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 40%;
  transform: scale(0.1);
}

.Swatch--overlay.show + .overlay--message {
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.3s;
  width: 100%;
  z-index: 25;
}

.overlay--message h1 {
  font-weight: 400;
  margin-bottom: 0;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 2px #454545;
  text-transform: uppercase;
}

.overlay--message p {
  font-size: 2rem;
  font-weight: 100;
}

.text-light {
  color: white;
}

.text-dark {
  color: rgba(0, 0, 0, 0.5);
}
